<div class="container d-flex justify-content-center align-items-center">
  <h2 class="mt-0 mb-4">Customer and Good Registration</h2>
</div>

<%= render "form", customer: @customer %>



<div class= "container d-flex justify-content-center align-items-center" >
  <%= link_to "Back to customers", customers_path %>
</div>
