<div class="container d-flex justify-content-center align-items-center">
  <h1 class="mt-0 mb-4">New customer</h1>
</div>

<%= render "form", customer: @customer %>



<div class= "container d-flex justify-content-center align-items-center" >
  <%= link_to "Back to customers", customers_path %>
</div>
