<div id="<%= dom_id deposit %>">
  <p>
    <strong>Amount:</strong>
    <%= deposit.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= deposit.date %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= deposit.customer_id %>
  </p>

</div>
