<h2 class="container d-flex justify-content-center align-items-center">Deposit Registration</h2>

<%= render "form", deposit: @deposit %>

<br>

<div class="container d-flex justify-content-center align-items-center">
  <%= link_to "Back to deposits", deposits_path %>
</div>
