<div id="<%= dom_id role %>">
  <p>
    <strong>Name:</strong>
    <%= role.name %>
  </p>

  <p>
    <strong>Permissions:</strong>
    <%= role.permissions %>
  </p>

  <p>
    <strong>Cherubim user:</strong>
    <%= role.cherubim_user_id %>
  </p>

</div>
