<div id="<%= dom_id good %>">
  <p>
    <strong>Weight:</strong>
    <%= good.weight %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= good.price %>
  </p>

  <p>
    <strong>Status received:</strong>
    <%= good.status_received %>
  </p>

</div>
