<div id="<%= dom_id(good) %>" class="card">
  <div class="card-body">
    <h5 class="card-title">Good Details</h5>

    <p class="card-text">
      <strong>Weight:</strong>
      <%= good.weight %>
    </p>

    <p class="card-text">
      <strong>Price:</strong>
      <%= good.price %>
    </p>

    <p class="card-text">
      <strong>Status received:</strong>
      <%= good.status_received %>
    </p>
  </div>
</div>
